Source: astroberry-os
Section: science
Priority: extra
Maintainer: Astroberry <contact@astroberry.io>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: https://www.astroberry.io/

Package: astroberry-os-lite
Architecture: arm64 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, indi-full, gsc, astrometry.net, astroberry-os-sysmod, astroberry-manager
Description: Astroberry OS is an operating system for Raspberry Pi for controlling astronomy equipment
 This is a meta-package that installs minimal collection of packages.

Package: astroberry-os-desktop
Architecture: arm64 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, indi-full, gsc, astrometry.net, astroberry-os-sysmod, astroberry-manager,
 xfce4, xfce4-goodies, xfce4-power-manager, xfce4-terminal, lightdm, dbus-x11, rpcc [arm64], rc-gui [arm64],
 network-manager-applet, nm-connection-editor, synaptic, firefox [arm64], firefox-esr [amd64], gpredict, ser-player, astap, siril,
 kstars-bleeding, phd2, phdlogview, firecapture, astrodmx-capture, ccdciel
Description: Astroberry OS is an operating system for Raspberry Pi for controlling astronomy equipment
 This is a meta-package that installs desktop collection of packages.
