Source: astroberry-os
Section: science
Priority: extra
Maintainer: Astroberry <contact@astroberry.io>
Build-Depends: debhelper (>= 9), cdbs, cmake (>= 2.4.7), cmake
Standards-Version: 3.9.1
Homepage: https://www.astroberry.io/

Package: astroberry-os-lite
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, astroberry-artwork, fonts-roboto,
 indi-full, gsc, astrometry.net, samba
Description: Astroberry OS is an operating system for Raspberry Pi for controlling astronomy equipment
 This is a meta-package that installs minimal collection of packages.

Package: astroberry-os-desktop
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, astroberry-os-lite,
 lightdm, dbus-x11, xfce4, xfce4-goodies, xfce4-power-manager, xfce4-terminal,
 network-manager-applet, nm-connection-editor, synaptic, firefox | firefox-esr, 
 kstars-bleeding, phd2, phdlogview, gpredict, ser-player, siril,
 firecapture, astrodmx-capture, ccdciel, astap
Description: Astroberry OS is an operating system for Raspberry Pi for controlling astronomy equipment
 This is a meta-package that installs desktop collection of packages.
